<h1 class="title">Battle City</h1>
<div class="divider"></div>

<img src='/images/resources/sprites/nes_battle_city_general_sprite_sheet.png' style="display:none;"/>

<canvas id="game_canvas" width="624" height="624" style="border:1px solid #fff; display: block;
margin: auto;" tabindex='1'>
</canvas>
